<ul>
  <% if user_signed_in? && tweet.user_id != current_user.id %>
  <li><%= button_to "Share", retweet_tweet_path(tweet), method: :post %></li>
  <% end %>
  <li><%= link_to "Like" , tweet_path(tweet) %></li>
  <li>
    <a href="#">Comments</a>
  </li>
  <% if user_signed_in? && current_user == tweet.user%>
  <li><%= button_to "Destroy", tweet_path(tweet), method: :delete %></li>
  <% end %>
</ul>
